<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CommentsMapper">

    <select id="selectAll" resultType="com.example.entity.Comments">
        select comments.*,user.name as userName  from `comments` left join user on comments.user_id = user.id
        <where>
            <if test="title != null"> and comments.title like concat('%', #{title}, '%')</if>
        </where>
    </select>

    <delete id="deleteById">
        delete from `comments`
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Comments" useGeneratedKeys="true">
        insert into `comments`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null">title,</if>
            <if test="descr != null">descr,</if>
            <if test="content != null">content,</if>
            <if test="userId != null">userId,</if>
            <if test="time != null">time,</if>
            <if test="startDate != null">start_date,</if>
            <if test="money != null">money,</if>
            <if test="days != null">days,</if>
            <if test="location != null">location,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="title != null">#{title},</if>
            <if test="descr != null">#{descr},</if>
            <if test="content != null">#{content},</if>
            <if test="userId != null">#{userId},</if>
            <if test="time != null">#{time},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="money != null">#{money},</if>
            <if test="days != null">#{days},</if>
            <if test="location != null">#{location},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Comments">
        update `comments`
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="descr != null">
                descr = #{descr},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="startDate != null">
                start_date = #{startDate},
            </if>
            <if test="money != null">
                money = #{money},
            </if>
            <if test="days != null">
                days = #{days},
            </if>
            <if test="location != null">
                location = #{location},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>