<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TourismMapper">

    <select id="selectAll" resultType="com.example.entity.Tourism">
        select * from `tourism`
        <where>
            <if test="name != null"> and name like concat('%', #{name}, '%')</if>
        </where>
        <if test="sort == 'hot'">
            order by tourism.num desc
        </if>
        <if test="sort == 'new'">
            order by tourism.id desc
        </if>
    </select>

    <delete id="deleteById">
        delete from `tourism`
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Tourism" useGeneratedKeys="true">
        insert into tourism
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="img != null">img,</if>
            <if test="descr != null">descr,</if>
            <if test="content != null">content,</if>
            <if test="price != null">price,</if>
            <if test="store != null">store,</if>
            <if test="specials != null">specials,</if>
            <if test="date != null">date,</if>
            <if test="num != null">num,</if>
            <if test="discount != null">discount,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="img != null">#{img},</if>
            <if test="descr != null">#{descr},</if>
            <if test="content != null">#{content},</if>
            <if test="price != null">#{price},</if>
            <if test="store != null">#{store},</if>
            <if test="specials != null">#{specials},</if>
            <if test="date != null">#{date},</if>
            <if test="num != null">#{num},</if>
            <if test="discount != null">#{discount},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Tourism">
        update tourism
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="img != null">
                img = #{img},
            </if>
            <if test="descr != null">
                descr = #{descr},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="store != null">
                store = #{store},
            </if>
            <if test="specials != null">
                specials = #{specials},
            </if>
            <if test="date != null">
                date = #{date},
            </if>
            <if test="num != null">
                num = #{num},
            </if>
            <if test="discount != null">
                discount = #{discount},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>